<h1>tracks</h1>
{{#each tracks}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
             <h5 class="card-title">{{name}}</h5>
             <audio src={{preview_url}} controls></audio>
        </div>
    </div>

{{/each}}