{{#each tracks}}
<div class="track-container">
    <div class="track-title">
        <h5 class="card-title">{{name}}</h5>
    </div>
    <div class="audio-preview">
         <audio src="{{preview_url}}" controls></audio>
    </div>
</div>
{{/each}}